.nav-pages-transition {
	transition: top 0.4s ease-in-out !important;
}

.nav-pages-out {
	top: 64px;
}

.nav-pages-in {
	top: 0px;
}

.hi {
	color: red;
	position: absolute;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	left: 0;
}

.transition {
	background: green;
	left: 50px;
}
